body {
  -webkit-font-smoothing:antialiased;
     -moz-font-smoothing:antialiased;
          font-smoothing:antialiased;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  font-family:'Roboto', 'Arial', sans-serif;
  font-size:16px;
  padding-top:100px;
  background-color:#fff;
}

/*******************
 * NAVIGATION
 *******************/

.menu li {
  list-style: none;
  display: block;
}



/*******************
 * HEADER
 *******************/
header {
  position:fixed;
  z-index:100;
  top:0;
  left:0;
  right:0;
  padding:22px 0;
  background-color:#fff;
  border-bottom: 3px solid grey;
}
header a:hover{
  text-decoration: none;
  font-weight: bold;
}
  header h1 {
    margin:0;
    line-height:24px;
    font-weight:bold;
    font-size:1.5em;
    color:#ff5722;
    
  }
  header h2 {
    margin:0;
    line-height:24px;
    font-size:18px;
  }

footer {
  padding:48px 0 96px;
  line-height:20px;
  font-size:14px;
}
.img-circle{
  border:2px solid #5294f7;
}
/*******************
 * SECTION
 *******************/
section {
  padding:38px 0;
}
  section h3 {
    padding:0 0 8px;
    line-height:40px;
    font-weight:bold;
    font-size:32px;
    color:#ff5722;
  }
  section h4{
  	font-size:20px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
  }
  section .lead {
    font-size:24px;
  }
  section p {
    margin-bottom:1em;
  }
  section p small {
    opacity:0.5;
  }
  section a,
  section a:hover {
    color:#5294f7;
  }

/*******************
 * INTRO SCREEN
 *******************/
.intro-screen,
.intro-screen header {
  background-color: #5294f7; /*#44a9eb;*/
  color:#fff;
  border-bottom: 3px solid white;
}
  .intro-screen h1,
  .intro-screen h2,
  .intro-screen h3 {
    color:#fff;
  }
  .intro-screen a,
  .intro-screen a:hover {
    color:#f4f0a1;
  }
  
  .intro-screen .img-circle{
  border:2px solid white;
}

/*******************
 * TRANSITIONS
 *******************/
body,
header {
  -webkit-transition:background-color .5s;
     -moz-transition:background-color .5s;
          transition:background-color .5s;
}
