      <header>
        <div class="container" id="section_start">
          <div class="row">
            <div class="col-xs-2 col-lg-1">  

              <div class="btn-group">
                <button type="button" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-align-justify"></i>
                </button>          
                <ul class="dropdown-menu">
                  <li><a href="{{ site.baseurl }}/blog"><i class="fa fa-pencil"></i> Blog posts</a></li>
                  <li><a href="{{ site.baseurl }}/"><i class="fa fa-user"></i> About</a></li>                  
                  <li><a href="{{ site.baseurl }}/archive"><i class="fa fa-book"></i> Archive</a></li>
                  <li><a href="{{ site.baseurl }}/atom.xml"><i class="fa fa-rss"></i> Feed</a></li>
                </ul>
              </div>
            </div>  

            <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
              <h1> Neither Research, Nor Science...</h1>
              <h2 class="hidden-xs">A bit of everything, mainly roots, image analysis and open science</h2>
            </div>

            <div class="col-xs-1 col-lg-3">
              <a  href="#section-about">
                <img src="{{ site.baseurl }}{{ site.data.personal.picture }}" 
                   class="img-circle hidden-xs"
                   style="margin-top:-6px;width:66px; margin-right: 20px;">
              </a>
            </div>

          </div>
        </div>
      </header>