<!-- Footer -->

<hr>

<footer>
  <div class="container">
    <div class="row ">
      

      <div class="col-lg-8 col-md-10 mx-auto copyright">

          <p class=" text-muted">Where to find me online : </p>

            {% for profile in site.data.personal.profiles %}
            <a style="font-size:2em; text-decoration: none" href="{{ profile.url }}" class="mr-2" data-toggle="tooltip" data-placement="bottom" title="{{ profile.network }}">
              {% if profile.network == 'ORCID' %}
                <b class="" data-fa-transform="shrink-6" data-fa-mask="fas fa-circle">iD</b>            
              {% elsif profile.network == 'Google Scholar' %}
                <i class="fab fa-google" data-fa-transform="shrink-6" data-fa-mask="fas fa-circle"></i> 
              {% elsif profile.network == 'Science Open' %}
                <b>SO</b>   
              {% elsif profile.network == 'LinkedIn' %}
                <i class="fab fa-linkedin"  data-fa-transform="shrink-6" data-fa-mask="fas fa-circle"></i> 
              <!-->{% elsif profile.network == 'Mastodon' %}
                <b class="" data-fa-transform="shrink-6" data-fa-mask="fas fa-circle">M</b><-->     
              {% elsif profile.network == 'BlueSky' %}
                <b class="fal fa-sun" data-fa-transform="shrink-6" data-fa-mask="fas fa-circle"></b>     
              {% elsif profile.network == 'Github' %}
                <i class="fab fa-github"  data-fa-transform="shrink-6" data-fa-mask="fas fa-circle"></i> 
              {% elsif profile.network == 'ImpactStory' %}
                <i class="fal fa-trophy-alt"  data-fa-transform="shrink-6" data-fa-mask="fas fa-circle"></i>               
              <!-->{% elsif profile.network == 'Publons' %}
                <i class="fal fa-file-powerpoint" data-fa-transform="shrink-6" data-fa-mask="fas fa-circle"></i>    
              {% elsif profile.network == 'Figshare' %}<-->
                <i class="fas fa-share-alt" data-fa-transform="shrink-6" data-fa-mask="fas fa-circle"></i>             
              {% endif %}
              
              </a>
              {% if forloop.last == false %}
              {% endif %}
            {% endfor %}



        <!--ul class="list-inline text-center">
          {% if site.email %}
          <li class="list-inline-item">
            <a href="mailto:{{ site.email | encode_email }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li class="list-inline-item">
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.facebook_username %}
          <li class="list-inline-item">
            <a href="https://www.facebook.com/{{ site.facebook_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul-->
        <hr>
        <p class="copyright text-muted">{{ site.data.personal.footer | markdownify }}</p>
      </div>
    </div>
  </div>
</footer>
