<!DOCTYPE html>



<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ site.data.personal.name }}</title>

  <!-- Stylesheets -->
  <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/fontawesome-all.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/custom.css">
  <!--link rel="stylesheet" href="{{ site.baseurl }}public/css/albertine.css"-->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Javascript -->
  <!--script src="{{ site.baseurl }}public/js/isotope.pkgd.min.js"></script-->
  <!--script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>  
  <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
  <script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
  <script type='text/javascript' src='{{ site.baseurl }}public/js/fontawesome-all.js'></script>
  <script type='text/javascript' src='//npmcdn.com/isotope-layout@3/dist/isotope.pkgd.js'></script>


  
</head>
<body>

  <!-- ==================== -->
  <!-- HEADER -->
  <!-- ==================== -->
  <header>

    <!--nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-right" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Hidden brand</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link"  data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
    </nav-->
    
  </header>

  <!-- ==================== -->
  <!-- SECTION -->
  <!-- ==================== -->
  <div class="container mt-5">

    <div class="row">
        
  <!-- ==================== -->
  <!-- LEFT -->
  <!-- ==================== -->
    
    <div class="col-12 col-md-4 col-xl-3">

      <img class="d-none d-md-block img-fluid mb-2 w-100 mx-auto rounded" src="{{ site.baseurl }}{{ site.data.personal.picture }}" alt="Card image cap">

      <div class=" card mb-5">        
        <div class="card-body text-center">
          <img class="d-md-none" src="{{ site.baseurl }}{{ site.data.personal.picture }}" alt="Card image cap" style="width:50%">
          <h4 class="card-title">{{ site.data.personal.name }}</h4>
          <p class="card-text">{{ site.data.personal.label }}</p>
          <a href="{{ site.data.personal.curriculum}}" target="_blank" type="button" class="btn btn-sm btn-outline-primary">
            <i class="fal fa-arrow-to-bottom mr-2"></i>CV
          </a>
          <span class="info" id="email_1">
              <a href=""  onmouseover="safeEmailAddress('{{ site.data.personal.email }}', 'email_1');" type="button" class="btn btn-sm btn-outline-primary">
                    <i class="fal fa-envelope"></i>
              </a>
          </span> 

        </div>


        <div class="list-group list-group-flush" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">
            <i class="fal fa-user mr-2"></i>About me  
          </a>

          <a class="list-group-item list-group-item-action" id="list-tools-list" data-toggle="list" href="#list-tools" role="tab" aria-controls="tools">
            <i class="fal fa-cogs mr-2"></i>Tools and databases
          </a>
          
          <a class="list-group-item list-group-item-action" id="list-publications-list" data-toggle="list" href="#list-publications" role="tab" aria-controls="publications">
            <i class="fal fa-newspaper mr-2"></i>Publications
          </a>
          
          <a class="list-group-item list-group-item-action" id="list-presentations-list" data-toggle="list" href="#list-presentations" role="tab" aria-controls="presentations">
            <i class="fal fa-images mr-2"></i>Presentations
          </a>

          
          <a class="list-group-item list-group-item-action" id="list-teaching-list" data-toggle="list" href="#list-teaching" role="tab" aria-controls="teaching">
            <i class="fal fa-university mr-2"></i>Teaching
          </a>                               
          
          <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">
            <i class="fal fa-plus-hexagon mr-2"></i>More about me
          </a>

          <a class="list-group-item list-group-item-action" id="list-people-list" data-toggle="list" href="#list-people" role="tab" aria-controls="settings">
            <i class="fal fa-users mr-2"></i>They work with me
          </a>
          
          <a class="list-group-item list-group-item-action" id="list-failures-list" data-toggle="list" href="#list-failures" role="tab" aria-controls="failures">
            <i class="fal fa-thumbs-down mr-2"></i>My failures
          </a>   

          <a class="list-group-item list-group-item-action" id="list-fun-list" data-toggle="list" href="#list-fun" role="tab" aria-controls="fun">
            <i class="fas fa-futbol mr-2"></i>Fun project
          </a>   
          
          <a class="list-group-item list-group-item-action" id="list-books-list" data-toggle="list" href="#list-books" role="tab" aria-controls="books">
            <i class="fal fa-book mr-2"></i> Books I read
          </a>

          <a class="list-group-item list-group-item-action" href="{{ site.baseurl }}/blog" role="tab">
            <i class="fal fa-pencil-alt mr-2"></i> My blog
          </a>

        </div>  



      </div>    

    </div>    





  <!-- ==================== -->
  <!-- CENTER -->
  <!-- ==================== -->    
    <div class="col-12 col-md-8 col-xl-6">

      <div class="tab-content" id="nav-tabContent">
        
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

            <h3>Welcome!</h3>

            <div class="card">      
              <div class="card-body">
                <p class="card-text">
                  {{ site.data.personal.intro.body | markdownify }}
                </p>
              </div>
            </div>
            <div class="card mt-2">  
              <div class="card-header">
                <h4><i class="fal fa-bullhorn mr-3"></i> Overview of my projects </h4>
              </div>
              <div class="card-body">
                <p class="card-text">
                  <img src="{{ site.baseurl }}/img/work_overview.jpg" style="width:100%">                
                </p>
              </div>              
            </div>
        </div>

        <!-  --------------------------  -!>



        <div class="tab-pane fade" id="list-tools" role="tabpanel" aria-labelledby="list-tools-list">
          
          <h3>Tools and databases</h3>
          <p>Tools we develop and database we curated, both in the lab or with close collaborators.</p>

          <div class="list-group">

            {% for project in site.data.projects %}

            <div href="#" class="list-group-item list-group-item-action flex-column align-items-start mb-3">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ project.name }}</h5>
                {% if project.url %}
                  <a href="{{ project.url }}" type="button" class="btn btn-outline-primary btn-sm" target="_blank">
                    <i class="fal fa-external-link"></i> More
                  </a>
                {% endif %}
              </div>
              <div class="row">
                <div class="col-4"><img src="{{ site.baseurl }}{{ project.image }}" style="width:100%"></div>
                <div class="col-8"><p class="mb-1"><p>{{ project.description | markdownify }}</p></div>
              </div>
            </div>

            {% endfor %}

          </div>

        </div>

<!-  --------------------------  -!>
        <div class="tab-pane fade" id="list-teaching" role="tabpanel" aria-labelledby="list-teaching-list">
          
          <h3>Teaching</h3>
          <p>I have the great chance to give lectures at the University of Louvain, in the Faculty of bioscience engineering. I also give seminars and workshop on random topics.</p>

          <div class="list-group">

            {% for course in site.data.teaching %}

            <div href="#" class="list-group-item list-group-item-action flex-column align-items-start mb-3">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ course.name }}</h5>
                {% if course.url %}
                  <a href="{{ course.url }}" type="button" class="btn btn-outline-primary btn-sm" target="_blank">
                    <i class="fal fa-external-link"></i> More
                  </a>
                {% endif %}
              </div>
              <hr>
              <div class="row">
                <div class="col-4 d-none d-sm-block"><img src="{{ site.baseurl }}{{ course.image }}" style="width:100%"></div>
                <div class="col-12 col-sm-8"><p class="mb-1"><p>{{ course.description | markdownify }}</p></div>
              </div>
            </div>

            {% endfor %}

          </div>

        </div>


<!-  --------------------------  -!>
        <div class="tab-pane fade" id="list-fun" role="tabpanel" aria-labelledby="list-fun-list">
          
          <h3>Fun project</h3>
          <p>Some random stuff I did and maintain just for fun...</p>

          <div class="list-group">

            {% for fu in site.data.fun %}

            <div href="#" class="list-group-item list-group-item-action flex-column align-items-start mb-3">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ fu.name }}</h5>
                {% if fu.url %}
                  <a href="{{ fu.url }}" type="button" class="btn btn-outline-primary btn-sm" target="_blank">
                    <i class="fal fa-external-link"></i> More
                  </a>
                {% endif %}
              </div>
              <hr>
              <div class="row">
                <div class="col-4 d-none d-sm-block"><img src="{{ site.baseurl }}{{ fu.image }}" style="width:100%">
                </div>
                <div class="col-12 col-sm-8"><p class="mb-1"><p>{{ fu.description | markdownify }}</p></div>
              </div>
            </div>

            {% endfor %}

          </div>

        </div>  


<!-  --------------------------  -!>
        <div class="tab-pane fade" id="list-people" role="tabpanel" aria-labelledby="list-people-list">
          
          <h3>They work with me</h3>
          <p>I have the great chance to have awesome colleagues in my team. Go check them out!</p>

          <div class="list-group">

            {% for people in site.data.students %}

            <div href="#" class="list-group-item list-group-item-action flex-column align-items-start mb-3">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ people.name }}</h5>
                {% if people.url %}
                  <a href="{{ people.url }}" type="button" class="btn btn-outline-primary btn-sm" target="_blank">
                    <i class="fal fa-external-link"></i> More
                  </a>
                {% endif %}
                {% if people.twitter %}
                  <a href="https://twitter.com//{{ people.twitter }}" type="button" class="btn btn-outline-primary btn-sm" target="_blank">
                    <i class="fab fa-twitter"></i> {{ people.twitter }}
                  </a>
                {% endif %}
              </div>
              <hr>
              <div class="row">
                <div class="col-4 d-none d-sm-block"><img src="{{ site.baseurl }}{{ people.image }}" style="width:100%">
                  <button type="button" class="btn btn-outline-info btn-sm mt-2">{{people.role}}</button>
                </div>
                <div class="col-12 col-sm-8"><p class="mb-1"><p>{{ people.description | markdownify }}</p></div>
              </div>
            </div>

            {% endfor %}

          </div>

        </div>        


<!-  --------------------------  -!>

        <div class="tab-pane fade" id="list-presentations" role="tabpanel" aria-labelledby="list-presentations-list">
          
          <h3>Presentations</h3>

          {% assign counter = 1 %}
          {% for presentation in site.data.presentations %}
            {% assign counter = counter | plus: 1 %}
          {% endfor %}

          <div class="row">

            {% for presentation in site.data.presentations %}

                {% assign counter = counter | minus: 1 %}

                <div class="card m-2 p-3 mt-3 col-12 ">
                  <div class="row">
                    <div class="col-5  d-none d-sm-block">
                      <img src="{{ site.baseurl }}{{ presentation.image }}" class="img-thumbnail">
                    </div>
                    <div class="col-12 col-sm-7 justify-content-end">
                      <small>{{ counter }} - </small><strong>{{ presentation.title }}</strong>
                      <small>- {{ presentation.date }}<br>
                      {{ presentation.location }}</br>
                      </small><hr>
                      {% if presentation.status %}
                          <button type="button" class="btn btn-outline-info btn-sm">
                            <i class="fal fa-check"></i> invited
                          </button>
                      {% endif %}
                      {% if presentation.doi %}
                        <a class="btn btn-outline-primary btn-sm" href="http://dx.doi.org/{{ presentation.doi }}" target="_blank">
                          <i class="fal fa-file-pdf"></i> PDF
                        </a>
                      {% elsif presentation.slides_url %}
                        <a class="btn btn-outline-primary btn-sm" href="{{ presentation.slides_url }}" target="_blank">
                          <i class="fal fa-file-pdf"></i> PDF
                        </a>
                      {% endif %}                     
                    </div>
                  </div>
                </div>

            {% endfor %}

          </div>

        </div>        

        <!-  --------------------------  -!>

        <div class="tab-pane fade" id="list-publications" role="tabpanel" aria-labelledby="list-publications-list">
          
          <h3>Publications</h3>


          <!- Count the publications ->
          {% assign counter = 1 %}
          {% assign counter2 = 0 %}
          {% for publication in site.data.publications %}
              {% case publication.type %}
                {% when 'journal' %}
                  {% assign counter = counter | plus: 1 %}              
              {% endcase %}
          {% endfor %}
          {% assign counter3 = counter | minus :1 %}

          
          <div class="alert alert-info">
            I do not believe that journal names convey information regarding the quality of my published work, so I left it blank. I did include other usefull information though.</br> 
            <small>Last update on {{update}}.</small>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="row">
            {% assign counter = 1 %}
            {% for publication in site.data.publications %}

              {% case publication.type %}
                {% when 'journal' %}
                {% assign counter = counter | plus:1 %}
                <div class="card p-3 mt-3 col-12 ">
                  <div class="row">
                    <div class="col-4  d-none d-sm-block">
                      <img src="{{ site.baseurl }}{{ publication.image }}" class="img-thumbnail">
                    </div>
                    <div class="col-12 col-sm-8 justify-content-end">
                      <small>{{ counter3 }}</small> | <strong class="mb-1">{{ publication.title }}</strong>
                      {% if publication.open %}
                        <span style="color: green;"><i class="far fa-lock-open"></i></span>
                      {% endif %}
                      {% if publication.preprint %}
                         <span style="color: green;"><i class="far fa-cog fa-spin"></i></span>
                      {% endif %}                       
                      </br>
                      <small>{{ publication.year }}</small> | <small>{{ publication.authors }}</small></br><hr>
                      {% if publication.doi %}
                          <a class="btn btn-outline-secondary btn-sm mb-1" href="http://dx.doi.org/{{ publication.doi }}" target="_blank">
                            <i class="fal fa-link"></i> Publisher
                          </a>
                      {% elsif publication.url %}
                          <a class="btn btn-outline-secondary btn-sm mb-1" href="{{ publication.url }}" target="_blank">
                            <i class="fal fa-link"></i> Publisher
                          </a>
                      {% endif %}

                      {% if publication.pmid %}
                          <a class="btn btn-outline-secondary btn-sm mb-1" href="http://www.ncbi.nlm.nih.gov/pubmed/{{ publication.pmid }}" target="_blank">
                            <i class="fal fa-link"></i> PubMed
                          </a>
                      {% endif %}

                      {% if publication.pdf %}
                          <a class="btn btn-outline-secondary btn-sm mb-1" href="{{ publication.pdf }}" target="_blank">
                            <i class="fal fa-file-alt"></i> PDF
                          </a>
                      {% endif %}
                      
                      <button type="button" class="btn btn-outline-secondary btn-sm " style="float: right" data-toggle="modal" data-target="#modal{{counter}}">
                        <i class="fal fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="modal fade" tabindex="-1" role="dialog" id="modal{{counter}}">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        
                        <div class="row ml-1">
                          <div class="col-12 col-sm-8 mb-2">
                            <h5 class="modal-title">{{ publication.title }}</h5>
                          </div>
                          <div class="col-12 col-sm-4">
                             
                                {% if publication.doi %}
                                    <a class="btn btn-outline-primary btn-sm mb-1" href="http://dx.doi.org/{{ publication.doi }}" target="_blank">
                                      <i class="fal fa-link"></i> Publisher
                                    </a>
                                {% elsif publication.url %}
                                    <a class="btn btn-outline-primary btn-sm mb-1" href="{{ publication.url }}" target="_blank">
                                      <i class="fal fa-link"></i> Publisher
                                    </a>
                                {% endif %}

                                {% if publication.pmid %}
                                    <a class="btn btn-outline-primary btn-sm mb-1" href="http://www.ncbi.nlm.nih.gov/pubmed/{{ publication.pmid }}" target="_blank">
                                      <i class="fal fa-link"></i> PubMed
                                    </a>
                                {% endif %}

                                {% if publication.pdf %}
                                    <a class="btn btn-outline-primary btn-sm mb-1" href="{{ publication.pdf }}" target="_blank">
                                      <i class="fal fa-file-alt"></i> PDF
                                    </a>
                                {% endif %}
                              
                            </div>
                          </div>                        
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>


                      </div>
                      <div class="modal-body">

                        <p>
                          <div class="row">
                            
                            <div class="col-12 col-xl-2 mx-auto">

                              <span class="__dimensions_badge_embed__" data-doi="{{publication.doi}}" data-style="small_circle"></span> <hr>

                              <span data-badge-popover="right" data-badge-type="donut" data-doi="{{publication.doi}}" data-hide-no-mentions="true" class="altmetric-embed"></span>
                              <hr>
                            
                              {% if publication.review %}
                                <button type="button" class="btn btn-outline-success btn-sm mt-1"><i class="fal fa-book mr-1"></i>review</button>
                              {% endif %} 

                              {% if publication.preprint %}
                                <button type="button" class="btn btn-outline-success btn-sm mt-1"><i class="fal fa-recycle mr-1"></i>preprint</button>
                              {% endif %} 
                    
                              {% if publication.tags %}
                                {% for tag in publication.tags %}
                                <button type="button" class="btn btn-outline-secondary btn-sm mt-1">
                                  <i class="fal fa-tag mr-1"></i>{{tag}}
                                </button>
                                {% endfor %}
                              {% endif %} 
                              <hr>
                            </div>
                            <div class="col-12 col-xl-9">
                              <h4>Abstract</h4>
                              {{publication.description}}
                              <hr>
                              {% if publication.other %}
                                <h4>Other informations</h4>
                                {{publication.other}}
                              {% endif %} 
                            </div>
                          </div>

                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                {% assign counter3 = counter3 | minus: 1 %}

              {% endcase %}
            {% endfor %}

          </div>          

        </div>

<!-  --------------------------  -!>


        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
          
          <h3>Other stuffs about me</h3>

            <div class="list-group">

            {% for ms in site.data.misc %}

              <div href="#" class="list-group-item list-group-item-action flex-column align-items-start mb-3">
                <div class="d-flex w-100 justify-content-between ">
                  <h5 class="mb-1">{{ ms.name }}</h5>
                </div>
                <hr>
                <p>{{ ms.description | markdownify }}</p>
              </div> 
            {% endfor %}

            </div>

        </div>

<!-  --------------------------  -!>

        <div class="tab-pane fade" id="list-books" role="tabpanel" aria-labelledby="list-books-list">
          
          <h3>Books I read</h3>
          Just books I liked. Unclassified and uncommented

          <div class="row">
            {% for book in site.data.book %}
            <div class="col-6 p-1">

              <div class="card text-center">
                <img class="card-img-top w-50 h-50 mx-auto p-2 mt-2 img-thumbnail" src="{{ book.image }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{ book.title }}</h5>
                  <p class="card-text">by {{ book.author }}</p>
                  {% if book.url %}
                      <a class="btn btn-outline-primary btn-sm" href="{{ book.url }}" target="_blank">
                        <i class="fa fa-external-link"></i> More
                      </a>
                  {% endif %}                 
                </div>
              </div>
            </div>

            {% endfor %}

          </div>

        </div>

<!-  --------------------------  -!>


<!-  --------------------------  -!>

        <div class="tab-pane fade" id="list-failures" role="tabpanel" aria-labelledby="list-settings-list">
          
          <h3>My failures</h3>
          <hr>

            <div class="alert alert-info">
            {% for reject in site.data.rejections %}
              {% case reject.type %}
                {% when 'intro' %}
                  {{reject.title}}
              {% endcase %}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>

            <div class="list-group">

              <div href="#" class="list-group-item list-group-item-action flex-column align-items-start mb-3">
                <div class="d-flex w-100 justify-content-between ">
                  <h5 class="mb-1">What referees have said about my work</h5>
                </div>
                <hr>
                <ul>
                  {% for reject in site.data.rejections %}
                    {% case reject.type %}
                      {% when 'quote' %}
                        <li class="mb-2"><quote>{{reject.title}}</quote> [<small>{{reject.year}}</small>]</li>
                    {% endcase %}
                  {% endfor %}
                </ul>
              </div> 

              <div href="#" class="list-group-item list-group-item-action flex-column align-items-start mb-3">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Paper rejections from academic journals</h5>
                </div>
                <hr>
                <ul>
                {% for year in (2015..2018) %}
                  <li class="mb-2">
                    <b>{{year}}: </b>
                    {% for reject in site.data.rejections %}
                      {% case reject.type %}
                        {% when 'paper' %}
                          {% if reject.year == year %}
                            {{reject.title}},
                          {% endif %}
                      {% endcase %}
                    {% endfor %}  
                  </li>      
                {% endfor %}
                </ul>
              </div>            

              <div href="#" class="list-group-item list-group-item-action flex-column align-items-start mb-3">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Grants I did not get</h5>
                </div>
                <hr>
                 <ul>
                  {% for reject in site.data.rejections %}
                    {% case reject.type %}
                      {% when 'grant' %}
                        <li class="mb-2">{{reject.title}} [<small>{{reject.year}}</small>]</li>
                    {% endcase %}
                  {% endfor %}        
                </ul> 
              </div> 
  
          </div>

        </div>        


      </div>

    </div>



  <!-- ==================== -->
  <!-- LEFT -->
  <!-- ==================== -->    


  <div class="col-12 col-lg-3">

     <div class="card mt-3">
          <div class="card-header">
              <strong>Find me online <i class="fal fa-globe"></i></strong>
          </div>
          <div class="card-body">
            <p class="card-text">

            {% for profile in site.data.personal.profiles %}
            <a style="font-size:2em; text-decoration: none" href="{{ profile.url }}" class="mr-2" data-toggle="tooltip" data-placement="bottom" title="{{ profile.network }}">
              {% if profile.network == 'ORCID' %}
                <b class="" data-fa-transform="shrink-6" data-fa-mask="fas fa-circle">iD</b>            
              {% elsif profile.network == 'Google Scholar' %}
                <i class="fab fa-google" data-fa-transform="shrink-6" data-fa-mask="fas fa-circle"></i> 
              {% elsif profile.network == 'Science Open' %}
                <b>SO</b>   
              {% elsif profile.network == 'LinkedIn' %}
                <i class="fab fa-linkedin"  data-fa-transform="shrink-6" data-fa-mask="fas fa-circle"></i> 
              {% elsif profile.network == 'Twitter' %}
                <i class="fab fa-twitter"  data-fa-transform="shrink-6" data-fa-mask="fas fa-circle"></i> 
              {% elsif profile.network == 'Github' %}
                <i class="fab fa-github"  data-fa-transform="shrink-6" data-fa-mask="fas fa-circle"></i> 
              {% elsif profile.network == 'ImpactStory' %}
                <i class="fal fa-trophy-alt"  data-fa-transform="shrink-6" data-fa-mask="fas fa-circle"></i>               
              {% elsif profile.network == 'Publons' %}
                <i class="fal fa-file-powerpoint" data-fa-transform="shrink-6" data-fa-mask="fas fa-circle"></i>    
              {% elsif profile.network == 'Figshare' %}
                <i class="fas fa-share-alt" data-fa-transform="shrink-6" data-fa-mask="fas fa-circle"></i>             
              {% endif %}
              
              </a>
              {% if forloop.last == false %}
              {% endif %}
            {% endfor %}
            </p>
            <div class="dropdown-divider"></div>
            <p>
              {% for website in site.data.personal.websites %}
                <i class="fal fa-external-link-square mr-2"></i>
                <a href="{{ website.url }}">
                  {{ website.name }}
                </a>
                {% if forloop.last == false %}
                  <br>
                {% endif %}
              {% endfor %}
            </p> 
          </div> 
        </div>


      <div class="card mt-3">
        <div class="card-header">
            <strong>Find me in real life <i class="fal fa-street-view"></i></strong>
        </div>
        <div class="card-body">
          <p class="card-text">
          {{ site.data.personal.department }}<br>
          {{ site.data.personal.institution }}<br>
          {{ site.data.personal.mailing_address | replace:'\n','<br>' }}
          <hr>
         
          </p>
        </div>  
      </div>  
      

  </div>

</div>

</div>


  <!-- ==================== -->
  <!-- FOOTER -->
  <!-- ==================== -->
  <footer>

    <hr>

    <div class="col-10 col-sm-6 mx-auto text-center mb-5">
      {{site.data.personal.footer}}
    </div>
  </footer>

  <!-- ==================== -->
  <!-- JAVASCRIPTS -->
  <!-- ==================== -->


  <!--a href="#0" class="cd-top">Top</a-->
  <script>
    jQuery(document).ready(function($){
      // browser window scroll (in pixels) after which the "back to top" link is shown
      var offset = 300,
        //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
        offset_opacity = 1200,
        //duration of the top scrolling animation (in ms)
        scroll_top_duration = 700,
        //grab the "back to top" link
        $back_to_top = $('.cd-top');

      //hide or show the "back to top" link
      $(window).scroll(function(){
        ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
        if( $(this).scrollTop() > offset_opacity ) { 
          $back_to_top.addClass('cd-fade-out');
        }
      });

      //smooth scroll to top
      $back_to_top.on('click', function(event){
        event.preventDefault();
        $('body,html').animate({
          scrollTop: 0 ,
          }, scroll_top_duration
        );
      });

    });
  </script>

  <script>
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-31455360-1', 'auto');
    ga('send', 'pageview');

  </script>

    <script>
  function safeEmailAddress(name, element) {
    dnssuffix = 'de';
    domain = 'fz-juelich';
    document.getElementById(element).innerHTML = '<a href="mailto:'+name+'@'+domain+'.'+dnssuffix+'" class="btn btn-sm btn-outline-primary"><i class="fal fa-envelope"></i>';
  }
  </script>


</body>
</html>
