<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/albertine.css">
  <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">

<!-- Javascript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>



  <body>

    <div class="container content">

      <!-- Header -->
      {% include book_header.html %}


      <!-- CONTENT -->

      <main>
        <div class="container" id="main">
          <div class="row">
            <div class="col-md-10">
              <div class="row-fluid">
    
                {% assign counterLG = 0 %}
                {% assign counterMD = 0 %}
                {% assign counterSM = 0 %}

                {% for book in site.data.book %}
                    <div class="col-xs-12
                                        col-sm-6
                                        col-md-4
                                        col-lg-3">
                              <p>
                                <img src="{{ book.image }}" 
                                     class="img-responsive img-thumbnail"
                                     style="width:70%">
                              </p>
                              <p><b>{{ book.title }}</b></br>
                              by {{ book.author }}</p>
                              <p><small>ISBN:{{ book.isbn }}</small></p>





                              {% if book.serie %}
                                      <button type="button" class="btn btn-primary btn-xs disabled"><i class="fa fa-book"> {{book.serie}}</i></button>
                              {% endif %} 

                              {% if book.url %}
                                  <a class="btn btn-default btn-xs" href="{{ book.url }}" target="_blank">
                                    <i class="fa fa-external-link"></i> More
                                  </a>
                              {% endif %} 
                              </br>
                              </br>
                    </div>

                    {% assign counterLG = counterLG | plus: 1 %}
                    {% assign counterMD = counterMD | plus: 1 %}
                    {% assign counterSM = counterSM | plus: 1 %}

                    {% if counterLG == 4 %}
                      <div class="clearfix visible-lg-block"></div>
                      {% assign counterLG = 0 %}
                    {% endif %}
                    {% if counterMD == 3 %}
                      <div class="clearfix visible-md-block"></div>
                      {% assign counterMD = 0 %}
                    {% endif %}
                    {% if counterSM == 2 %}
                      <div class="clearfix visible-sm-block"></div>
                      {% assign counterSM = 0 %}
                    {% endif %}

                {% endfor %}


                    
              </div>
            </div>
          </div>
        </div>
      </main>


      <footer class="footer">
      <hr>
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. CC-BY Licence
        </small>
      </footer>

    </div>

	{% include google_analytics.html %}

  </body>
</html>
